<<<<<<< HEAD
=======
footer {
    background-color: #2c2c2c;
    color: #EFDBCA;
    height: 78px;
    width: 1482px;
}
>>>>>>> 9fe505995b9ff20f455fdf1ca3fb8e5124990148

.header{
    background-color: orange;
}
.menu-redes{
    display: flex;
    
  

}
.menu-Header{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}

.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;


}

.item{
    margin-left: 10px;
}