body {
  background: #f4f3f2;
}

/*header*/

.menu-redes-nav {
  list-style: none;
  display: flex;
  flex-direction: row-reverse;
  margin: 0;
  padding-right: 50px;
}

.item {
  margin-left: 10px;
  color: #048a95;
}

.logo {
  color: white;
}

.menu-redes {
  background-color: white;
}
.menu-Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f1aa7e;
  padding-left: 50px;
  padding-right: 50px;
}

.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;

}



/*main*/

.section1 {
  width: 100%;
  height: 349px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  background: #33353c;
}

.imagenSecundaria{
  width: 4%; 
  margin: auto;
}

.imagenPrincipal {
  height: 349px;
  margin: auto;
  display: block;
}

.section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title1 {
  background: #818181;
  color: white;
  width: 1250px;
  margin-top: 3em;
  margin-bottom: 2em;
  padding-top: 2%;
  padding-left: 1%;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.article1 {
  width: 1119px;
  height: 250px;
  top: 705px;
  border-radius: 5px;
  background: #98d2d0;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.section2-1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.imagenSection2-1 {
  width: 400px;
  height: 170px;
  border: 42px solid #048a95;
  border-width: 8px;
}

.texto {
  background: #f4f3f2;
  width: 460px;
  height: 195px;
  font-family: "Calibri SM";
  font-size: 18px;
  border-radius: 10px;
  padding-left: 8px;
    padding-right: 8px;
}

.parrafo {
  width: 732px;
  height: 47px;
  margin-top: 2em;
  margin-bottom: 2em;
  font-style: oblique;
  font-family: "Special Elite", cursive;
  font-size: 20px;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
  letter-spacing: 2px;
  color: #07848f;
}

.article2 {
  width: 1119px;
  height: 250px;
  top: 800px;
  background: #048a95;
  border-radius: 5px;
  margin-bottom: 5em;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.section2-2 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.imagenSection2-2 {
  width: 400px;
  height: 170px;
  border: 42px solid #98d2d0;
  border-width: 8px;
}

/*footer*/

footer {
  background-color: #2c2c2c;
  color: #efdbca;
  height: 78px;
  width: 100%;
}

#contenedorFooter {
  display: flex;
  width: 100%;
  height: 78px;
  justify-content: space-around;
  flex-direction: row;
}

.itemFooter {
  color: #efdbca;
  align-content: center;
  text-align: center;
  font-size: 20px;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 25px;
}

.itemFooter1 {
  color: #efdbca;
  align-content: center;
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.pFooter {
  margin-top: 10px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 10px;
}

.imgFooter {
  width: 32px;
  height: 32px;
}
