
.header{
    background-color: orange;
}
.menu-redes{
    display: flex;
    
  

}
.menu-Header{
   
    display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-items: center;
}

.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around ;


}

.item{
    margin-left: 10px;
}